# Ignore everything:
*.*

!gamedata/KiD-TAS.games.txt
!scripting/include/thelpers/**
!scripting/include/string_test.inc
!scripting/include/strings_include.inc
!scripting/include/kid_tas.inc
!scripting/include/xutaxstrafe.inc
!scripting/include/convar_class.inc
!scripting/include/shavit.inc
!scripting/kid-tas.sp
!scripting/autostrafe.sp
!compiled
!compile.bat
!.gitignore
# Except for whitelisted files:
