# Ignore everything:
*.*

!gamedata/KiD-TAS.games.txt
!scripting/include/thelpers/**
!scripting/include/strings_struct.inc
!scripting/include/strings_include.inc
!scripting/include/kid_tas.inc
!scripting/include/kid_tas_api.inc
!scripting/include/xutaxstrafe.inc
!scripting/include/convar_class.inc
!scripting/include/shavit.inc
!scripting/kid-tas.sp
!scripting/autostrafe.sp
!scripting/xutax-autostrafe.sp
!compiled
!compile.bat
!translations/*
!.gitignore
# Except for whitelisted files:
